/*
$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px; */

*, 
*:before, 
*:after {
  box-sizing: border-box;
}

html {
	overflow-y: scroll; 
}

body {
  background:#c1bdba;
  font-family: 'Titillium Web', sans-serif;
}

.signup {
  text-decoration:none;
  color:#1ab188;
  transition:.5s ease;
}
.signup :hover {
  color: darken;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius: 4px;
  box-shadow:0 4px 10px 4px rgb(19, 35, 47, 0.3);
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
}
.tab-group :after {
  content: "";
  display: table;
  clear: both;
}
li .signup-login {
  display:block;
  text-decoration:none;
  padding:15px;
  background:rgba(#a0b3b0,.25);
  color:#a0b3b0;
  font-size:20px;
  float:left;
  width:50%;
  text-align:center;
  cursor:pointer;
  transition:.5s ease;

}
li .signup-login :hover {
  background: darken;
  color: #fff;
}
.active .signup-login {
  background: #1ab188;
  color: #fff;
}
li .signup-login {
  display:block;
  text-decoration:none;
  padding:15px;
  background:rgba(#a0b3b0,.25);
  color:#a0b3b0;
  font-size:20px;
  float:left;
  width:50%;
  text-align:center;
  cursor:pointer;
  transition:.5s ease;

}
li .signup-login :hover {
  background: darken;
  color: #fff;
}
.active .signup-login {
  background: #1ab188;
  color: #fff;
}

.tab-content > div:last-child {
  display:none;
}


.h1 {
  text-align:center;
  color: #fff;
  font-weight: 300;
  margin:0 0 40px;
}

label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color: rgb(255, 255, 255, 0.5);
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
}

.req {
    margin:2px;
    color: #1ab188;
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
}
.req {
  opacity:0;
}

label .highlight {
	color: #fff;
}

input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid #a0b3b0;
  color: #fff;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
}
input, textarea :focus {
      outline:0;
      border-color: 1ab188;
}

textarea {
  border:2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.top-row {

}
.top-row :after {
  content: "";
  display: table;
  clear: both;
}

.div {
float:left;
width:48%;
margin-right:4%;
}

.div :last-child { 
  margin:0;
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight: 600;
  text-transform:uppercase;
  letter-spacing:.1em;
  background: #1ab188;
  color: #fff;
  transition:all.5s ease;
  -webkit-appearance: none;
}
.button :hover, button :focus {
  background: darken;
}

.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}